doctype html

html
  head
    title bootstrap 
    include includes/_head
  body
    |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur alias, natus laborum odio delectus unde nulla soluta earum esse tempora ex beatae dolores recusandae, modi. Repudiandae facilis molestiae autem exercitationem?
    script(data-headjs-load='js/init.js', src='js/lib/head.js')
